{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/index.css' %}">
    <title>List</title>
</head>
<body>
<div id="head">
        <a class="btn" id="txt" href="{% url 'blog:home' %}">Home</a>
        <a class="btn" id="txt" href="{% url 'blog:profile' %}">Profile</a>
        <a class="btn" id="txt" href="{% url 'blog:create' %}">Create</a>
</div>

{% for d in data %}
<div class="list_cont">

    <h1>{{d.title}}</h1><br>
    <p>{{d.blog}}</p>

    <div id="date">{{d.created_at}}</div>
    <div id="name">-{{d.user.email}}</div>
</div>
{% endfor %}

</body>
</html>