{% load static %}
{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'templates/css/main.css' %}">
    <title>Profile</title>
</head>
<body>
{% cache 500 body request.user %}
<div id="head">
    <a class="btn" id="txt" href="{% url 'blog:home' %}">Home</a>
    <a class="btn" id="txt" href="{% url 'blog:profile' %}">Profile</a>
    <a class="btn" id="txt" href="{% url 'blog:list' %}">List</a>
    <a class="btn" id="txt" href="{% url 'blog:create' %}">Create</a>
</div>

<div class="pro_head">
    <h2>PROFILE</h2>
</div>
<div class="container1">
    <div class="pro_pic">
        <img width="195px" height="195px" style="border-radius: 20px;" src="{% static 'templates/img/dp.jpg'%}">
    </div>
    <div class="disp" style="margin-top: 20px;">
        <span class="label-field"><b>Username:</b> {{ request.user.username }}</span>
    </div>

     <div class="disp">
        <span class="label-field"><b>First Name:</b> {{ request.user.first_name}}</span>
    </div>

     <div class="disp">
        <span class="label-field"><b>Last Name:</b> {{request.user.last_name}}</span>
    </div>

     <div class="disp">
        <span class="label-field"><b>Email:</b> {{request.user.email}}</span>
    </div>


    <div class="disp">
        <span class="label-field"><b>Bio:</b> {{request.user.bio}}</span>
    </div>

    <div style="padding: 60px 0 0 270px">
        <a class="btn"  href="/blog/edit/{{ request.user.id }}/">EDIT</a>
    </div>
{#    <form method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <input name="bio">{{form.bio}}#}
{#        <input type="file" name="myfile"><br>#}
{#        <button type="submit">UPLOAD</button>#}
{#    </form>#}
</div>
</body>
{% endcache %}
</html>